.banner {
  padding: 9.375rem 0;
  background-image: url('../images/banner.png');

  &__text-block {
    max-width: 32rem;
    margin-bottom: 3rem;
  }

  &__title {
    display: block;
    font-family: $bannerFamily;
    font-size: 3.75rem;
    font-weight: 900;
    line-height: 120%;
    color: $colorGold;
  }

  &__subtitle {
    display: block;
    font-size: 3rem;
    font-weight: 400;
    line-height: 120%;
    color: $colorWhite;
  }
}