.product-page {
  .characteristics {
    max-width: 34rem;
  
    &__item {
      display: grid;
      grid-template-columns: minmax(110px, 324px) minmax(60px, 216px);
      grid-template-areas: "title value";
      align-items: center;
      gap: 0 .25rem;
    }
    
    &__title {
      grid-area: title;
      position: relative;
      display: block;
      overflow: hidden;
      color: $colorGrey;
      @include text($mainFamily, $subtitleSize, normal, 400, 179%);
      
      &::after {
        content: "••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••";
        position: absolute;
        padding-left: 5px;
        bottom: 9px;
        color: $colorGrey;
        @include text($mainFamily, 0.3125rem, normal, 400, 0rem);
        text-align: right;
        letter-spacing: 0.1875rem;
      }
    }
  
    &__value {
      grid-area: value;
      @include text($mainFamily, $subtitleSize, normal, 400, 179%);
    }
  }
}