.hero {
  &__container.hero__container {
    max-width: 1280px;
    padding: 5rem 0;
  }

  .swiper-slide {
    background: no-repeat center;
    background-size: cover;
  }

  .swiper-slide:nth-child(1) {
    background-image: url('../images/hero_1.png');
  }

  .swiper-slide:nth-child(2) {
    background-image: url('../images/hero_2.png');
  }

  .swiper-slide:nth-child(3) {
    background-image: url('../images/hero_3.png');
    
    .hero__title {
      max-width: 36rem;
      color: $colorWhite;
    }
  }

  &__title.hero__title {
    max-width: 31rem;
    margin-bottom: 3.06rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: $colorGrey;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
