.special {
  &__container {
    position: relative;
  }

  &__dicsount {
    position: absolute;
    left: 0;
    top: 1.87rem;
    fill: $colorSecondary;
  }

  &__discount-price {
    position: absolute;
    top: 0.44rem;
    left: 1.56rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: $colorWhite;
  }

  &__img {
    margin-top: 3rem;
    margin-bottom: 1rem;
    margin-left: 1rem;

    // margin: 4.5rem 0 0 1.31rem;
  }

  &__product-title {
    margin-bottom: 1.44rem;
  }

  &__price-block {
    margin-bottom: 1.44rem;
  }

  &__price-actual {
    margin-right: 1.88rem;
    color: $colorSecondary;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
  }

  &__price-discount {
    @include price;
    color: $colorGrey;
    text-decoration-line: line-through;
  }

  .swiper-slide:nth-child(1) {
    .special__discount-price {
      left: 1.19rem;
    }
  }

  .swiper-slide:nth-child(3n - 1) {
    .special__discount-price {
      left: 0.94rem;
    }

    .special__plan-img {
      position: absolute;
      right: 0;
      bottom: 0;
      margin: 0;

    }
  }
}