.just-validate-error-label {
  padding-left: 1rem;
  padding-bottom: 0.37rem;
  @include text($mainFamily, 0.75rem, normal, 400, normal);
  color: $colorRedInput !important;
}

.just-validate-error-field.just-validate-error-field {
  border-color: $colorRedInput;
}

.just-validate-success-field.just-validate-success-field {
  border-color: $colorGreenInput;
}