// COLORS
$colorPrimary: #A65CF0;
$colorPrimaryLight: #C998FB;
$colorPrimaryShade: #7033AC;
$colorPinkLight: #F8EFFF;
$colorPinkViolet: #EBD1FF;
$colorSecondary: #FF862F;
$colorSecondaryLight: #FFBD59;
$colorSecondaryShade: #BB370E;
$colorRedInput: #FF6972;
$colorGreenInput: #B8EC64;
$colorGold: #D5B986;
$colorWhite: #FFFFFF;
$colorGreyLight: #F6F6F6;
$colorGreyMd: #EAEAEA;
$colorGrey: #999999;
$colorGreyShade: #666666;
$colorBlack: #333333;
$colorBlack20: rgba(0, 0, 0, 0.2);
$colorLime: #DAFFD1;
$colorBone: #FFF5D1;

:root {
  --color-white: #fff;
}

// GAP
$gridGap: 2rem;
$sectionOffset: 4.38rem;

// FONT-FAMILY
$mainFamily: 'Open Sans', sans-serif;
$sectionTitleFamily: 'Open Sans', sans-serif;
$subtitleFamily: 'Open Sans', sans-serif;
$descrFamily: 'Open Sans', sans-serif;
$bannerFamily: 'Playfair Display', sans-serif;

// FONT-SIZE
$sectionTitleSize: 2rem;
$subtitleSize: 0.875rem;
$descrSize: 1.5rem;
$localTitle: 1.125rem;
$defaultSize: 1rem;

// FONT-WEIGHT
$sectionTitleWeight: 400;
$subtitleWeight: 400;
$descrWeight: 400;

// LINE-HEIGHT
$sectionTitleLineHeight: 100%;

// BORDER-RADIUS
$borderRadius: 10px;

// TRANSITION
$transitionHoverColor: color .2s ease-in-out;
$transitionHoverBackgroundColor: background-color .2s ease-in-out;
$transitionHoverFill: fill .2s ease-in-out;
$transitionDefault: .2s ease-in-out;
$transitionState: .1s ease-in-out;
$transitionTime: .2s;
$transitionMega: .7s;
$transitionFunction: ease-in-out;

// PADDING
$paddingProduct: 1.84rem 1.84rem 0 1.9rem;

// MEDIA SIZES
$sizes: ("xs":320px, "sm":480px, "md":576px, "lg":768px, "xl":1024px);